doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  // Google Fonts
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet')
  // Font Awesome
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css', integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==', crossorigin='anonymous', referrerpolicy='no-referrer')
  // Link Styles
  link(rel='stylesheet', href='../css/styles.css')
  title Gallery
header.header
  a.header__brand(href='') Gallery
  nav.header__navbar
    ul
      li
        a.active(href='') home
      li
        a(href='#') +photos
      li
        a(href='#') For Categories
      li
        a(href='#') services
      li
        a(href='#') about
      li
        a(href='#') contact

main
  .gallery
    #card-1.gallery__card
      h2.gallery__tittle Animals
      a.gallery__btn(href='#') More Pictures
    #card-2.gallery__card
      h2.gallery__tittle Nature
      a.gallery__btn(href='#') More Pictures
    #card-3.gallery__card
      h2.gallery__tittle Landscapes
      a.gallery__btn(href='#') More Pictures
    #card-4.gallery__card
      h2.gallery__tittle Cities
      a.gallery__btn(href='#') More Pictures
    #card-5.gallery__card
      h2.gallery__tittle Architecture
      a.gallery__btn(href='#') More Pictures
    #card-6.gallery__card
      h2.gallery__tittle Decorations
      a.gallery__btn(href='#') More Pictures
    #card-7.gallery__card
      h2.gallery__tittle Peoples
      a.gallery__btn(href='#') More Pictures
    #card-8.gallery__card
      h2.gallery__tittle Sports
      a.gallery__btn(href='#') More Pictures
    #card-9.gallery__card
      h2.gallery__tittle Food
      a.gallery__btn(href='#') More Pictures
footer
  p
    span Gallery
    |  &copy; 2022